In [ ]:
import pandas as pd

In [ ]:
!python --version

Python 3.6.9

In [ ]:
data=pd.read_csv('/content/bankloan.csv')

In [ ]:
data.head()

    Loan_ID Gender Married  ...  Credit_History Property_Area Loan_Status
0  LP001002   Male      No  ...             1.0         Urban           Y
1  LP001003   Male     Yes  ...             1.0         Rural           N
2  LP001005   Male     Yes  ...             1.0         Urban           Y
3  LP001006   Male     Yes  ...             1.0         Urban           Y
4  LP001008   Male      No  ...             1.0         Urban           Y

[5 rows x 13 columns]

In [ ]:
data['Education']

0          Graduate
1          Graduate
2          Graduate
3      Not Graduate
4          Graduate
           ...
609        Graduate
610        Graduate
611        Graduate
612        Graduate
613        Graduate
Name: Education, Length: 614, dtype: object

In [ ]:
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split

In [ ]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report,confusion_matrix
from sklearn.model_selection import GridSearchCV

In [ ]:
# import sklearn
# !pip freeze

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            614 non-null    object
 1   Gender             601 non-null    object
 2   Married            611 non-null    object
 3   Dependents         599 non-null    float64
 4   Education          614 non-null    object
 5   Self_Employed      582 non-null    object
 6   ApplicantIncome    614 non-null    int64
 7   CoapplicantIncome  614 non-null    float64
 8   LoanAmount         592 non-null    float64
 9   Loan_Amount_Term   600 non-null    float64
 10  Credit_History     564 non-null    float64
 11  Property_Area      614 non-null    object
 12  Loan_Status        614 non-null    object
dtypes: float64(5), int64(1), object(7)
memory usage: 62.5+ KB

In [ ]:
df=data.drop(['Loan_ID'],axis=1)

In [ ]:
new_df=df.dropna()

In [ ]:
!rm -rf '/content/dictionary/'

# Random Forest

In [ ]:
def getType(df,type,include=False,exclude=False):
  if include:
    return df.select_dtypes(include=[type])
  else:
    return df.select_dtypes(exclude=[type])

def encoder(df,col):
  e=LabelEncoder()
  arr=e.fit_transform(list(df[col].values))
  name_mapping = dict(zip(e.classes_, e.transform(e.classes_)))
  print(name_mapping)
  filename = f'./dictionary/{col}_map.pkl'
  pickle.dump(name_mapping,open(filename, 'wb'))
  return arr

object_x=getType(new_df,'object',include=True)
for i,col in enumerate(object_x.columns):
  object_x[col]=encoder(object_x,col)

{'Female': 0, 'Male': 1}
{'No': 0, 'Yes': 1}
{'Graduate': 0, 'Not Graduate': 1}
{'No': 0, 'Yes': 1}
{'Rural': 0, 'Semiurban': 1, 'Urban': 2}
{'N': 0, 'Y': 1}

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
import pickle
def getType(df,type,include=False,exclude=False):
  if include:
    return df.select_dtypes(include=[type])
  else:
    return df.select_dtypes(exclude=[type])

def encoder(df,col):
  e=LabelEncoder()
  arr=e.fit_transform(list(df[col].values))
  name_mapping = dict(zip(e.classes_, e.transform(e.classes_)))
  print(name_mapping)
  filename = f'./{col}_map.pkl'
  pickle.dump(name_mapping,open(filename, 'wb'))
  return arr

object_x=getType(new_df,'object',include=True)
for i,col in enumerate(object_x.columns):
  object_x[col]=encoder(object_x,col)

{'Female': 0, 'Male': 1}
{'No': 0, 'Yes': 1}
{'Graduate': 0, 'Not Graduate': 1}
{'No': 0, 'Yes': 1}
{'Rural': 0, 'Semiurban': 1, 'Urban': 2}
{'N': 0, 'Y': 1}

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
# object_x
numerical_x=getType(df,'object',exclude=True)

In [ ]:
new_df=object_x.join(numerical_x)
new_df.head()

   Gender  Married  Education  ...  LoanAmount  Loan_Amount_Term  Credit_History
1       1        1          0  ...       128.0             360.0             1.0
2       1        1          0  ...        66.0             360.0             1.0
3       1        1          1  ...       120.0             360.0             1.0
4       1        0          0  ...       141.0             360.0             1.0
5       1        1          0  ...       267.0             360.0             1.0

[5 rows x 12 columns]

In [ ]:
# norm_df=new_df.dropna()

In [ ]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 480 entries, 1 to 613
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Gender             480 non-null    int64
 1   Married            480 non-null    int64
 2   Education          480 non-null    int64
 3   Self_Employed      480 non-null    int64
 4   Property_Area      480 non-null    int64
 5   Loan_Status        480 non-null    int64
 6   Dependents         480 non-null    float64
 7   ApplicantIncome    480 non-null    int64
 8   CoapplicantIncome  480 non-null    float64
 9   LoanAmount         480 non-null    float64
 10  Loan_Amount_Term   480 non-null    float64
 11  Credit_History     480 non-null    float64
dtypes: float64(5), int64(7)
memory usage: 68.8 KB

In [ ]:
y_data=new_df['Loan_Status']
x_data=new_df.drop(['Loan_Status'],axis=1)

In [ ]:
# x_data.columns
f='./X_data_col_names.pkl'
pickle.dump(x_data.columns,open(f,'wb'))

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(x_data,y_data,test_size=0.33)

In [ ]:
rcl=RandomForestClassifier(n_estimators=50)
rcl.fit(X_train,y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=50,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [ ]:
y_train_pred=rcl.predict(X_train)
y_val_pred=rcl.predict(X_test)

In [ ]:
print(classification_report(y_test,y_val_pred))
print(confusion_matrix(y_test,y_val_pred))

              precision    recall  f1-score   support

           0       0.73      0.59      0.65        51
           1       0.82      0.90      0.86       108

    accuracy                           0.80       159
   macro avg       0.78      0.74      0.76       159
weighted avg       0.79      0.80      0.79       159

[[30 21]
 [11 97]]

In [ ]:
# save the model to disk
import joblib
filename = 'finalized_model.pkl'
joblib.dump(rcl, open(filename, 'wb'))
 
# load the model from disk
loaded_model = joblib.load(open(filename, 'rb'))
result = loaded_model.score(X_test, y_test)
print(result)

0.7987421383647799